@charset "UTF-8";
h1 {
  color: pink;
}

.categories__box--img img {
  width: 100%;
  height: 318px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.categories__box--text h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

@media only screen and (min-width: 750px) {
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories__box--img img {
    border: 1px solid white;
    height: 33.5vw;
  }
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__One--text {
  background-color: #f7f9fa;
  min-height: 300px;
  padding: 50px;
}

.collection__One--text--type {
  margin-top: 30%;
}

.collection__One--text--type h2,
.collection__One--text--type p {
  text-align: center;
  color: #282c2e;
}

.collection__One--link {
  width: 100%;
  height: 24%;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/bluedot_1512x.jpg?v=1543973451);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__One--link--type {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__One--link--type span,
.collection__One--link--type img {
  margin: 25px 0px;
  color: #545454;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__One--link--type span {
  padding: 15px 0px 15px 28px;
}

.collection__One--link--type img {
  padding: 15px 28px 15px 15px;
  width: 20px;
  height: 20px;
}

.collection__Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collection__Two—-text {
  background-color: #f7f9fa;
  min-height: 300px;
  padding: 50px;
}

.collection__Two—-text--type {
  margin-top: 30%;
}

.collection__Two—-text--type h2,
.collection__Two—-text--type p {
  text-align: center;
  color: #282c2e;
}

.collection__Two—-link {
  width: 100%;
  height: 24%;
  background-image: url(https://cdn.shopify.com/s/files/1/0081/5654/5088/files/blazer2_1512x.jpg?v=1543973460);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection__Two—-link--type {
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection__Two—-link--type span {
  margin: 25px 0px;
  color: #545454;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px;
}

@media only screen and (min-width: 750px) {
  .collection__One {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .collection__One--text {
    width: 50%;
    padding: 50px 0px;
  }
  .collection__One--link {
    min-height: 400px;
    width: 50%;
  }
  .collection__One--link--type {
    padding-top: 42%;
  }
  .collection__Two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .collection__Two—-text {
    width: 50%;
    padding: 50px 0px;
  }
  .collection__Two—-link {
    min-height: 400px;
    width: 50%;
  }
  .collection__Two—-link--type {
    padding-top: 42%;
  }
}

.our {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
  height: 400px;
}

.our__store h5 {
  margin: 5px 0px 5px 0px;
  color: dimgrey;
  font-weight: 500;
  font-size: 15px;
}
/*# sourceMappingURL=App.css.map */